*{
    
    text-decoration:none;
     margin: 0;
    color:#ffffff;
    font-family: 'Montserrat', sans-serif;

}
html{
    scroll-behavior:smooth;
}

body{
    
    background-color: #090d27;
    font-size: 18px;
    
    
}

.espacio_celda_1{
    width:8.33% ;
}
.espacio_celda_2{
    width:16.66%;
}
.espacio_celda_3{
    width:25%;
}
.espacio_celda_4{
    width:33.33%;
}
.espacio_celda_5{
    width: 41.66%;
}
.espacio_celda_6{
    width: 50%;
}
.espacio_celda_7{
    width: 58.33%;
}
.espacio_celda_8{
    width: 66.66%;
}
.espacio_celda_9{
    width: 75%;
}
.espacio_celda_10{
    width:83.33%;
}
.espacio_celda_11{
    width:91.66%;
}
.espacio_celda_12{
    width:100%;
}

.bg_green{
    background-color: green;
}
.bg_red{
    background-color: red;
}

.bg_blue{
    color:#34B0BE;
}
.titule{
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.sub_titule{
    
    font-size: 4rem;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    
    }
.subsepcion{
    font-size:3rem;
}


h1{
    display:inline;
   
    text-decoration:overline white 10% ;
}
.node{
    display: inline;
    font-weight: 700;
}

.posicionamiento_elemt{
    
    display: flex;
    justify-content:center ;
    position:absolute;
     z-index:100;
}
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/

/*barra de3 navegacion*/
.menu_amburguer{
    width:20px;
}

.body_nav{
   
    width: 100%;
    position:fixed;
    z-index: 999;
    background-color: #090d27;
    border-bottom: solid 2px #34B0BE;
}
.href_pagina{
    padding-top:1px;
}
.href_pagina_home{
  padding-top:160px;
    
}

ul{
   
    list-style: none;
    display: flex;
    padding:4%;
    justify-content: space-around;
    margin-left: 30%;
}
li a:hover{
    color: #34B0BE;
    

}



.titule2{
    margin-right: 7%;
    margin-left:7%;
  }
/*seccion de experciencia*/
.cuerpo_experiencia{
    display:inline;
}



.icos1{
    display: flex;
    justify-content: space-around;
    
}
.icos1 div{
    display: flex;
    justify-content: center;
   
    background-color: white;
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

.tamaño_ico1{
    width: 70%;
}

/* circulo con imagen */
.conten_circle{
    display: flex;
    justify-content: center;
    width: 100%;
    position:relative;
    z-index: 4;
    top:0px;

   
}
.circle{
    display: flex;
    justify-content: center;
    align-items:flex-end ;
    background-color: #242635;
    width:40%;
    height:500px;
    border-radius: 50%;
}
.img{

width: 70%;
height: 75%;
margin-bottom: 10%;
border-radius: 50%;
box-shadow: 15% 15% black;
}


/*icos2*/
.conten_icos2{
    
    display: flex;
    justify-content: center;
    position:absolute;
    text-align: center;
  top:81%;
  z-index: 44;
    
    
}
.img_ico2{
    width:40%;
  
}

.icos2{
    
    justify-content:space-around ;
    border-radius: 5px;
    padding:2.3%;
    display: inline-flex;
    background-color:#242635;
    width: 60%;
    
    
}
.conte_icos2{
    text-align: center;
    display: inline;
    width:15%;
    
    background-color: white;
    border-radius: 5px;

}

/*text sobre mi*/
.flex{
   display: flex;
   justify-content: center;
    text-align:center;
}

.ar1{
    padding:4%;
    margin-top:4%;
}
/*Mis habilidades */
.tarjeta_blanca{
    display:inline-block;
    width:300px;
    height:350px;
    background-color: #ffffff;
    text-align:center;
}
.defaul{
    width:180px;
    height:210px;

}
.conten_tarjetas{
    display:flex;
    justify-content:space-around;
}

.tarjeta_blanca p{
    color: #242635;
}

/*Mis habilidades*/
.conten_barras{
    display:flex;
    justify-content: center;
}
.lg{
    width:70%;
    
}
.barra{
 display:inline-block;
    height:40px;
    width:90%;
    background-color: #34B0BE;
    margin-top:25px;
    border-radius:15px;
    position: relative;


}
.ac{/*aliniacion de barra blanca*/
    display: inline-flex;
    justify-content: end;
}
.barra2{
    display: block;
    height:40px;
   
    background-color: #ffffff;
    border-radius:25px;
    position:absolute;
    

}

.centrado{
display: flex;
justify-content: center;
}
.textPP{
    display:block;
    text-align: end;
    color: #34B0BE;
}
.text1P{
    display:inline-block
}

/*Mis portafolios*/

.conten_portafolios{
display: flex;
justify-content:space-around;
text-align:center;
}
.medidas{
    width:300px;
    height: 300px;
}

/*Contacto*/

.conten_contacto{
    width: 600px;
    height: 580px;
    position: relative;
   
}

.tarjeta_contacto{
width:250px;
height: 250px;
background-color: #ffffff;
color: black;
}
.obj2{
    position: absolute;
    bottom:0;
    right: 0;
}

.tamaño{
width:90%;
height:75%;

}




